@import "assets/sass/utils/variables";

.bgFooter {
  background: $c-7;
  color: $c-8;
  padding: 130px 0px;

  @media (max-width: 484px) {
    padding: 80px 0px;
  }
}

.footer {
  p {
    margin-top: 150px;
    color: $c-6;
    @media (max-width: 484px) {
      margin-top: 100px;
    }
  }
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 30px;

  ul {
    h3 {
      font-weight: 500;
      margin-bottom: 20px;
    }
    li + li {
      margin-top: 15px;
    }
    li a {
      color: $c-8;
    }
  }
}
