@import "assets/sass/utils/variables";
@import "assets/sass/utils/mixins";

.plans {
  background: url("../../../assets/images/5.svg") no-repeat;
  padding: 100px 0px 70px;

  h2 {
    @include s-font;
    margin-bottom: 50px;
  }
}

.plans__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;

  @media (max-width: 785px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.plans__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $c-8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 550px;

  @media (max-width: 785px) {
    max-width: 370px;
    height: 500px;
    width: 100%;
  }

  h3 {
    color: $c-1;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 30px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 20px 0px;

    &::before {
      content: "";
      display: block;
      background: url("../../../assets/images/4.svg") no-repeat center;
      height: 24px;
      width: 24px;
    }
  }

  h4 {
    color: $c-1;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;

    span {
      font-size: 1.5rem;
    }
  }

  a {
    min-width: 260px;
    display: block;
    padding: 15px;
    color: $c-8;
    background: $c-5;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
  }
}
